<div class="container">

</div>
<section class="vh-100 bg-image">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-5">Create an account</h2>

              <form [formGroup]="signupForm" (ngSubmit)="signupSubmit()">
                    <!-- errmsg show here -->
                <div class="form-text text-danger text-center " *ngIf="errmsgshow">
                    <p>{{errmsg}}</p>
                </div>

                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Your Name</label>
                    <input type="text" class="form-control" formControlName="name" >
                    <div class="form-text  text-danger" *ngIf="FirstName.errors?.['required'] && (FirstName.touched || FirstName.dirty)">
                      --First name is required--
                  </div>
                    
                  </div>

                  <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email address</label>
                    <input type="email" class="form-control" formControlName="email" >
                    <div class="form-text  text-danger" *ngIf="Email.errors?.['required'] && (Email.touched || Email.dirty) ">
                      --Email  is required--
                  </div>
                  <div class="form-text  text-danger" *ngIf="Email.errors?.['email'] && (Email.touched || Email.dirty) ">
                      -- Invalid Email --
                  </div>
                    
                  </div>

                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Password</label>
                    <input type="password" class="form-control" formControlName="password" >

                    <div class="form-text text-danger" *ngIf="Password.errors?.['required'] && (Password.touched || Password.dirty)">
                      **Password cannot be empty**
                  </div>
                  <div class="form-text text-danger" *ngIf="Password.errors?.['minlength'] && (Password.touched || Password.dirty)">
                      --minimum 6 character--
                  </div>
                  <div class="form-text text-danger" *ngIf="Password.errors?.['maxlength'] && (Password.touched || Password.dirty)" >
                      --maxmimum 15 character--
                  </div>
                    
                  </div>

                <!-- <div class="form-outline mb-4">
                  <input type="password" id="form3Example4cdg" class="form-control form-control-lg" />
                  <label class="form-label" for="form3Example4cdg">Repeat your password</label>
                </div> -->


                <div class="d-flex justify-content-center">
                  <button type="submit"
                    class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Register</button>
                </div>

                <p class="text-center text-muted mt-5 mb-0">Have already an account? <a routerLink="/login"
                    class="fw-bold text-body"><u>Login here</u></a></p>

              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
